﻿
@{
    ViewBag.Title = "Infor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container ">
    <div class="line"></div><!-- uiView:  -->
    <div>
        <h3>Thông tin user</h3>
        <p>Thông tin đăng ký của bạn hoàn toàn được bảo mật.</p>
        <div class="row ">
            <div class="form-horizontal col-sm-6">
                <div class="form-group">
                    <label class="control-label col-sm-4">Họ tên:</label>
                    <div class="col-sm-8"><span class="form-control highlight ">@ViewBag.UserModel.FullName</span></div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Email:</label>
                    <div class="col-sm-8">
                        <span class="form-control highlight ">@ViewBag.UserModel.Email</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4">Số điện thoại:</label>
                    <div class="col-sm-8"><span class="form-control highlight ">@ViewBag.UserModel.Phone</span></div>
                </div>
                @*<div class="form-group">
                    <label class="control-label col-sm-4">Số dư:</label>
                    <div class="col-sm-8">
                        <span class="form-control highlight "
                              style="font-weight: bold; color:blue">85,600 đ</span>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
