﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("SystemLogin", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="line"></div><!-- uiView:  -->
        <div>
            <h3>Đăng nhập</h3>
            <p>Vui lòng nhập địa chỉ email và password nếu bạn đã đăng ký một tài khoản.</p>
            <div class="row">
                <div class="form-horizontal col-sm-6">
                    <p class="login-box-msg" style="color:red;font-weight:bold">@ViewBag.errorMsg</p>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Email:</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control" name="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">Password:</label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4"></label>
                        <div class="col-sm-4">
                            <input type="checkbox" checked="checked" name="remember"> <span>Ghi nhớ</span>
                        </div>
                        <div class="col-sm-4">
                            <a href="#">
                                <i class="fa fa-drupal"></i> Quên mật khẩu
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" class="btn login-button">
                                <span class="fa fa-sign-in"></span> Đăng nhập
                            </button>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-sm-3"></label>
                        <button type="button" class="btn btn-success login-button" onclick="location.href='@Url.Action("Register", "Account")'" >
                            <i class="fa fa-location-arrow"></i>
                            Đăng ký mới
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}