﻿@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="line"></div><!-- uiView:  -->
    <div>
        <h3>Bảng giá dịch vụ</h3><!-- ngIf: discount != null -->
        <div class="row" ng-if="discount != null">
            <div class="form-horizontal col-sm-8">
                <hr>
                <h4>Khớp thẻ:</h4>
                <div class="service-table">
                    <table class="table table-hover media-list">
                        <thead>
                            <tr>
                                <th>Nhà mạng</th>
                                <th class="text-right">Phí giao dịch</th>
                                <th class="text-right">Chiết khấu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Viettel - trả trước</td>
                                <td class="text-right">72%</td>
                                <td class="text-right">28%</td>
                            </tr>
                            <tr>
                                <td>Viettel- trả sau</td>
                                <td class="text-right">72%</td>
                                <td class="text-right">28%</td>
                            </tr>
                            <tr>
                                <td>Viettel- ftth</td>
                                <td class="text-right">72%</td>
                                <td class="text-right">28%</td>
                            </tr>
                            <tr>
                                <td>Vinaphone - trả trước</td>
                                <td class="text-right">72%</td>
                                <td class="text-right">28%</td>
                            </tr>
                            <tr>
                                <td>Vinaphone - trả sau</td>
                                <td class="text-right">72%</td>
                                <td class="text-right">28%</td>
                            </tr>
                            <tr>
                                <td>Mobi-next</td>
                                <td class="text-right">72%</td>
                                <td class="text-right">28%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-horizontal col-sm-4">
                <h4>Lưu ý:</h4>
                <p>
                    Mọi khiếu nại, thắc mắc giải quyết trong vòng 10 ngày kể từ ngày thanh toán, sau 10 ngày mọi khiếu
                    nại đều không hợp lệ.
                </p>
            </div>
        </div><!-- end ngIf: discount != null -->
    </div>
</div>
