﻿@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="line"></div><!-- uiView:  -->
    <div>
        <h4>Lịch sử giao dịch</h4>
        <div class="row">
            <form>
                <div class="form-horizontal col-sm-3">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Tìm:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Nhập từ khóa"
                                   name="keyword">
                        </div>
                    </div>
                </div>
                <div class="form-horizontal col-sm-4">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Loại:</label>
                        <div class="col-sm-8">
                            <select name="service" id="telco" class="form-control">
                                <option value="">Tất cả</option>
                                <option value="kt">Khớp thẻ</option>
                                <option value="mobi_next">Mobi-Next</option>
                                <option value="transfer">Chuyển tiền</option>
                                <option value="debit">Trừ tiền</option>
                                <option value="deposit">Cộng tiền</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal col-sm-4">
                    <div class="form-group">
                        <div class="col-sm-5">
                            <input type="text" class="form-control datepicker search-date"
                                   data-date-format="dd/mm/yyyy" readonly="readonly" name="fromDate">
                        </div>
                        <div class="col-sm-2" style="padding: 0px;margin-right: -47px; margin-top:7px">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control datepicker search-date"
                                   data-date-format="dd/mm/yyyy" readonly="readonly" name="toDate">
                        </div>
                    </div>
                </div>
                <div class="form-horizontal col-sm-1">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn search-button" ng-click="getData(1)">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-sm-12">
                <div class="service-table">
                    <table class="table table-hover media-list">
                        <thead>
                            <tr>
                                <th>Thời gian</th>
                                <th>Nội dung</th>
                                <th class="text-right">Số tiền</th>
                                <th class="text-right">Số dư</th>
                            </tr>
                        </thead>
                        <tfoot></tfoot>
                        <tbody>
                            <!-- ngRepeat: item in items | itemsPerPage: itemsPerPage -->
                        </tbody>
                        <tfoot>
                            <tr>
                                <!-- ngIf: sumPayment > 0 -->
                                <!-- ngIf: sumPayment > 0 -->
                                <td colspan="10" style="text-align: right">
                                    ~ <strong>0</strong>
                                    items.
                                </td>
                            </tr>
                            <tr class="no-border">
                                <td colspan="15" style="text-align: right">
                                    <dir-pagination-controls on-page-change="getData(newPageNumber)"
                                                             class="ng-isolate-scope">
                                        <!-- ngIf: 1 < pages.length -->
                                    </dir-pagination-controls>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="text-right hidden-xs">
                        <button class="btn btn-light btn-sm" ng-click="report()">
                            <i class="ace-icon fa fa-download bigger-160"></i> Export
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jquery") 
        @Scripts.Render("~/bundles/bootstrap")

        <script>
            function getCurrentDate() {
                var now = new Date();
                var day = now.getDate();
                var month = now.getMonth() + 1;
                var year = now.getFullYear();
                return day + '/' + month + '/' + year;
            }

            $('.search-date').val(getCurrentDate());

            $('.datepicker').datetimepicker({
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0
            });
        </script>
    }

    </div>