﻿
@{
    ViewBag.Title = "KT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Eload.Models.SearchTelDTO

<div class="container">
    <div class="line"></div><!-- uiView:  -->
    <div ui-view="">
        <div class="text-left">
            <h4>Nạp tiền Vina ELoad</h4>
        </div>
        <div class="row">
            @using (Html.BeginForm("KT", "Home", FormMethod.Post, new { @class = "form-horizontal", @autocomplete = "off", role = "form" }))
            {
                <div class="form-horizontal col-sm-3">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Tìm:</label>
                        <div class="col-sm-10">
                            @*<input type="text" class="form-control" placeholder="Số ĐT hoặc mã ĐH" name="target">*@
                            @Html.TextBoxFor(model => model.Tel, new { @class = "form-control", placeholder = "Số ĐT hoặc mã ĐH" })
                        </div>
                    </div>
                </div>
                <div class="form-horizontal col-sm-4">
                    <div class="form-group">
                        <label class="control-label col-sm-4">Trạng thái:</label>
                        <div class="col-sm-8">
                            <select name="status" class="form-control">
                                <option value="">Tất cả</option>
                                <option value="true">Thành công</option>
                                <option value="fail">Thất bại</option>
                                <option value="new">Chờ nạp</option>
                                <option value="processing">Đang nạp</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal col-sm-4">
                    <div class="form-group">
                        <div class="col-sm-5">
                            @*<input type="text" class="form-control datepicker search-date" data-date-format="dd/MM/yyyy" readonly="readonly" name="StartDate">*@
                            @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control datepicker search-date", data_date_format = "dd/mm/yyyy" })
                        </div>
                        <div class="col-sm-2" style="padding: 0px;margin-right: -47px; margin-top:7px">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                        <div class="col-sm-5">
                            @*<input type="text" class="form-control datepicker search-date" data-date-format="dd/MM/yyyy" readonly="readonly" name="EndDate">*@
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control datepicker search-date", data_date_format = "dd/mm/yyyy" })
                        </div>
                    </div>
                </div>
                <div class="form-horizontal col-sm-1">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn search-button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            }
            </div>
        <div class="col-sm-12">
            <div>
                <table class="table table-hover media-list">
                    <thead>
                        <tr>
                            <th width="10px;">ĐH</th>
                            <th width="170px;">Thời gian</th>
                            <th width="130px;">Số nạp</th>
                            <th width="100px;">Loại</th>
                            <th width="130px;">Số tiền</th>
                            <th class="text-right" style="width: 85px; text-align: center">Trạng thái</th>
                            <th width="85px; text-align: center;">Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var d in ViewBag.lstTel)
                        {
                            <tr>
                                <td>#@d.Id</td>
                                <td>@d.UpdatedAt</td>
                                <td>@d.Tel</td>
                                <td>@if (d.Type == 1)
                                {<span>Trả trước</span> }
                                else
                                { <span>Trả sau</span>}</td>
                                <td>@d.Amount</td>
                                <td>
                                    <div style="text-align: center;">
                                        @if (d.Status == "true")
                                        {
                                            <label class="label label-success">Thành công</label>
                                        }
                                        else if (d.Status == "fail")
                                        {
                                            <label class="label label-danger">Thất bại</label>
                                        }
                                        else if (d.Status == "new")
                                        {
                                            <label class="label label-default">Chờ nạp</label>
                                        }
                                        else
                                        {
                                            <label class="label label-default">Đang nạp</label>
                                        }
                                    </div>
                                </td>
                                <td>@d.Message</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                <button class="btn btn-app btn-sm" onclick="location.href='@Url.Action("KTPlus", "Home")'">
                    <i class="fa fa-plus-circle"></i> Thêm số
                </button>
            </div>
        </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")

            <script>

                $('.datepicker').datetimepicker({
                    weekStart: 1,
                    todayBtn: 1,
                    autoclose: 1,
                    todayHighlight: 1,
                    startView: 2,
                    minView: 2,
                    forceParse: 0
                });
            </script>
        }
    </div>
</div>

