﻿
@model List<Eload.Models.TelDTO>

@{
    ViewBag.Title = "KT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Charge", "Home"))
{
    <div class="container ">
        <div class="line"></div><!-- uiView:  -->
        <div>
            <div class="row ">
                <div class="col-sm-6 text-left">
                    <h4>Thêm số cần nạp tiền</h4>
                    <p>Vui lòng nhập số điện thoại, loại thuê bao, số tiền cần nạp:</p>
                    <p class="login-box-msg" style="color:red;font-weight:bold">@ViewBag.errorMsg</p>
                </div>
                <div class="col-sm-12">
                    <div>
                        <table id="tableData" class="table table-hover media-list">
                            <thead>
                                <tr>
                                    @*<th>STT</th>*@
                                    <th width="200px;">Số điện thoại</th>
                                    <th style="width: 120px; text-align: center">Loại</th>
                                    <th class="text-right" style="width: 150px; text-align: center">Số tiền</th>
                                    <th class="text-right"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr>
                                        @*<td>1</td>*@
                                        <td>
                                            @*<input type="text" class="form-control input-small" placeholder="09.., 01.." style="min-width: 110px">*@
                                            @Html.TextBoxFor(data => Model[i].Tel, new { @class = "form-control input-small", id = "tel", placeholder = "09.., 01..", style = "min-width: 110px" })
                                        </td>
                                        <td>

                                            @Html.DropDownListFor(data => Model[i].Type, new SelectList(new List<SelectListItem>
                                                                               {
                                                                               new SelectListItem { Selected = true, Text = "Trả trước", Value = "1"},
                                                                               new SelectListItem { Selected = false, Text = "Trả sau", Value = "2"}},
                                                                    "Value", "Text", 1), new { @class = "form-control", style = "min-width: 120px" })
                                        </td>
                                        <td class="text-right">
                                            @*<input type="text" class="form-control input-mini" style="text-align: right; min-width: 100px">*@
                                            @Html.TextBoxFor(data => Model[i].Amount, new { @class = "form-control input-small", id = "amount", style = "text-align: right; min-width: 100px" })
                                        </td>
                                        <td class="text-right" style="color: red">
                                            [<a href="" style="color: red">X</a>]
                                        </td>
                                    </tr>
                                }
                                <tr>
                                    <td style="display:inline-flex">
                                        <button type="button" id="addNew" class="btn btn-small" onclick="addRow()" style="height: 30px; padding-top: 5px;">
                                            <i class="fa fa-plus"></i> Thêm số
                                        </button>

                                        <div class="fileinput fileinput-new hidden-xs" data-provides="fileinput">
                                            <span>&nbsp;</span><span class="btn btn-success btn-sm btn-file">
                                                <span>
                                                    <i class="ace-icon fa fa-cloud-upload bigger-200"></i> Up lên từ file
                                                </span>
                                                <input type="file" id="file-input" selec>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right"></td>
                                    <td class="text-right" style="font-weight: bold"></td>
                                    <td class="text-right" style="font-weight: bold"></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="line"></div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <a href="@Url.Action("KT", "Home")" class="btn btn-success">
                                    <i class="fa fa-arrow-left"></i> Quay lại
                                </a>
                            </div>
                        </div>

                        <div class="col-sm-7 text-right">
                            <div class="form-group">
                                <button class="btn login-button">
                                    @*onclick="napthe()"*@
                                    <i class="fa fa-arrow-right"></i> Nạp tiền
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 hidden-xs">
                    <strong>Lưu ý:</strong>
                    <div>
                        <ul>
                            <li>
                                Mệnh giá nạp tiền phải là bội số của: <span style="font-weight: bold; color: #ff0000">10.000đ.</span>
                            </li>
                            <li>
                                Mệnh giá nạp tiền phải <span style="font-weight: bold; color: #ff0000">&gt;= 10.000đ.</span>
                            </li>
                            <li>
                                Với thuê bao Trả sau yêu cầu đã <span style="font-weight: bold; color: #ff0000">
                                    đăng ký
                                    thanh toán cước
                                </span> bằng thẻ cào. <a href="@Url.Action("Guide", "Home")">
                                    <span style="color: #4cae4c">(Xem hướng dẫn)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    <script language="javascript" type="text/javascript">

        function addRow() {
            $("#tableData > tbody tr").first().clone().prependTo("#tableData > tbody");

            var part = $("#tableData > tbody tr");
            for (var i = 0; i < part.children.length; i++) {
                var tr = $("#tableData > tbody tr")[i];
                var input_1 = tr.getElementsByTagName("input")[0];
                var input_2 = tr.getElementsByTagName("input")[1];
                var select_1 = tr.getElementsByTagName("select")[0];
                input_1.setAttribute('name', "[" + i + "].Tel")
                input_2.setAttribute('name', "[" + i + "].Amount")
                select_1.setAttribute('name', "[" + i + "].Type")
                console.log(input_1);
                console.log(input_2);
                console.log(select_1);
            }
        }

        $('input[type="file"]').change(function (e) {
            var file = e.target.files[0];
            importFile(file);
        });

        function importFile(file) {
            var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.xls|.xlsx)$/;
            if (regex.test(file.name.toLowerCase())) {
                if (typeof (FileReader) != "undefined") {
                    var reader = new FileReader();
                    //For Browsers other than IE.
                    if (reader.readAsBinaryString) {
                        reader.onload = function (e) {
                            processImportExcel(e.target.result);
                        };
                        reader.readAsBinaryString(file);
                    } else {
                        //For IE Browser.
                        reader.onload = function (e) {
                            var data = "";
                            var bytes = new Uint8Array(e.target.result);
                            for (var i = 0; i < bytes.byteLength; i++) {
                                data += String.fromCharCode(bytes[i]);
                            }
                            processImportExcel(data);
                        };
                        reader.readAsArrayBuffer(file);
                    }
                } else {
                    console.log("This browser does not support HTML5.");
                }
            } else {
                console.log("Please upload a valid Excel file.");
            }
        };

        function processImportExcel(data) {
            //Read the Excel File data.
            var workbook = XLSX.read(data, {
                type: 'binary'
            });

            var firstSheet = workbook.SheetNames[0];
            var excelFirstRows = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[firstSheet]);

            excelFirstRows.shift();

            var dataArr = [];
            for (var i = 0; i < excelFirstRows.length; i++) {
                var item = {
                    Tel: excelFirstRows[i].tel,
                    Type: Number(excelFirstRows[i].type),
                    Amount: excelFirstRows[i].amount
                }

                dataArr.push(item)
            }

            console.log('dataArr', dataArr);
            $.ajax({
                url: '/Home/KTPlus/',
                type: 'POST',
                data: { data: dataArr },
                success: function (data) {
                    console.log(data);
                    $('html').html(data);
                },
                error: function (xhr) {
                }
            });

        };
    </script>
}