﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ELoad</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/logo.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid ng-scope" id="top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("Services", "Home")" class="elements">
                        <span class="glyphicon glyphicon-home"></span> Trang
                        Chủ
                    </a>
                </li>
                @*<li>
                    <a href="javascript:void(0);">
                        <span class="glyphicon glyphicon-earphone"></span> Hot line:
                        <strong>0983-499793</strong> (8h-22h trừ Thứ 7 &amp; Chủ Nhật)
                    </a>
                </li>*@
            </ul>
            <div id="user-menu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" style="display: flex">
                        @if (ViewBag.UserModel != null)
                        {
                        <a href="@Url.Action("Info", "Account")" class="elements">
                            <span>@ViewBag.UserModel.FullName</span>
                        </a>
                            <span style="margin-top: 12px;"> |</span>
                            <button type="button" class="btn-transfarent" onclick="location.href='@Url.Action("Logout", "Account")'">
                                <i class="fa fa-sign-out"></i>
                                Đăng xuất
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn-transfarent" onclick="location.href='@Url.Action("Login", "Account")'" style="margin-top:17px">
                                <i class="fa fa-sign-out"></i>
                                Đăng nhập
                            </button>
                        }
                        @*<ul class="dropdown-menu">
                            <li>
                                <a href="#/user-info" ui-sref=".user-info">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Thông tin tài khoản
                                </a>
                            </li>
                            <li>
                                <a href="#/change-password" ui-sref=".change-password">
                                    <i class="glyphicon glyphicon-lock"></i> Thay đổi mật khẩu
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>

                            <a href="#/logout" ui-sref=".logout"><i class="fa fa-sign-out"></i> Đăng xuất</a>
                            </li>
                        </ul>*@
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar hidden-xs ng-scope" role="navigation">
        <div class="container menu">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Services", "Home")">
                    <img src="~/Images/dichvuthe.png">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Dịch vụ", "Services", "Home", null, null)</li>
                    <li>@Html.ActionLink("Bảng giá", "Fee", "Home", null, null)</li>
                    <li>@Html.ActionLink("Lịch sử", "History", "Home", null, null)</li>
                    <li>@Html.ActionLink("Hướng dẫn", "Guide", "Home", null, null)</li>
                    <li><a href="javascript:void(0);">Tin tức</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @*<hr />*@
        <footer id="footer-content">
            <div class="footer bg-white container">
                <div class="container">
                    <p>COPYRIGHT © V-TEL CORPORATION, ALL RIGHTS RESERVED.</p>
                </div>
            </div>
        </footer>
        @*<div class="newsletter-bar">
            <div class="newsletter-bar-inner">
                <marquee onmouseout="this.start()" onmouseover="this.stop()" direction="left"
                         scrollamount="2" style="margin-right: 10px" class="ng-binding">
                    Quý khách hàng vui lòng Clear
                    Cache của trình duyệt để cập nhật tính năng mới nạp Mobi-Next. Trân trọng!
                </marquee>
            </div>
        </div>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
